@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == small-laptop {
    @media only screen and (max-width: 90em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}

$colors: (
        darkblue: #013057,
        black: #000000,
        grey: #707372,
        pink : #d1036f,
        blue : #04a2e0,
        orange : #e87723,
        yellow : #fed141,
        red : #ef333f,
);

.wrapper {
  position: relative;
  min-height: 100vh;
  padding: 12rem 2rem 10rem 2rem;
  @include respond(tab-port) {
    padding: 5rem 2rem 5rem 2rem;
  }
}
.heading {
  &__secondary {
    font-size: 5rem;
    font-weight: 600;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
  &__primary {
    &--bold {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 0;
      @include respond(tab-port) {
        font-size: 1.4rem;
      }
    }
    &--plain {
      font-size: 1.6rem;
      font-weight: 400;
      @include respond(tab-port) {
        font-size: 1.3rem;
      }
    }
  }
  &__small {
    font-size: 1.2rem;
    @include respond(tab-port) {
      font-size: 1rem;
    }
  }
}
.upload-button input.uploadlogo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  z-index: 1;
  height: 4rem;
    @include respond(tab-port) {
      height: 3rem;
    }
}
.upload-button {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  width: 70%;
  height: 4rem;
  padding: 15px;
  font-size: 1.4rem;
  border: none;
  position: relative;
  overflow: hidden;
  margin-top: 0;
  text-align: center;
  @include respond(tab-port) {
    height: 3rem;
    font-size: 1rem;
    width: 100%;
  }
  &__remove-image {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    position: absolute;
    right: 2rem;
    top: 12px;
    font-size: 2rem;
    z-index: 2;
    display: none;
    margin:1rem;
    padding: 0;
    @include respond(tab-port) {
      right: 1rem;
      top: 4px;
      font-size: 1rem;
    }
    &:before, &:after {
      position: absolute;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: white;
      top:-14px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &__icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 2rem;
    top: 1rem;
    filter: invert(1);
    z-index: 0;
    cursor: pointer;
    @include respond(tab-port) {
      left: 1rem;
      top: 0.75rem;
    }
  }
  &--spinner {
    display: none;
  }
}
.upload-wrapper input[type="file"] {
  width: 100%;
  position: absolute;
  visibility: hidden;
  left: 0;
  right: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
}
input[type="radio"] {
  display: none;
  &:checked + label {
    @each $name, $value in $colors {
      .#{$name} {
        border: 5px solid lighten($value, 15%);
      }
    } // !@each
  } // !&:checked + label
}
.radio-group {
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include respond(tab-port) {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
label {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  margin: 10px;
  cursor: pointer;
  @include respond(tab-port) {
    height: 1.5rem;
    width: 1.5rem;
    margin: 5px;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}
.spinner{
  animation-name: ckw;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.umbrella {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  &--spinner {
      display: none;
      position: absolute;
      width: 8rem;
      height: 8rem;
      top:40%;
      left:42%;
      transform: translate(-50%,-50%);
      @include respond(tab-port) {
      width: 6rem;
      height: 6rem;
    }
  }
  &--image {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  &--logoimage {
    position: absolute;
    display: block;
    max-width: 10rem;
    max-height: 4rem;
    bottom: 2rem;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    @include respond(small-laptop) {
      bottom: 8rem;
    }
    @include respond(tab-land) {
      bottom: 15rem;
    }
    @include respond(tab-port) {
      max-width: 8rem;
      max-height: 3rem;
      bottom: 1rem;
    }
  }
}
